venv
.venv
.virtualenv
.idea
.git
*.pyc
__pycache__
*.pytest_cache
*.env
test*.py
*.session
*.session-journal
.vscode
*.log
*.sh
*.txt
*.yaml
*.ini
.DS_Store
examples/.DS_Store
!requirements.txt
node_modules
build
